{% extends "base.html" %}

{% block content %}

<h3>Items</h3>
<a href="/item/add" class="btn btn-success btn-sm">
    <i class="glyphicon glyphicon-plus"></i>
    Add Item
</a>

<form method="POST" enctype="multipart/form-data">
    <div class="media">
        <table class="table-striped" width="600">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Stock</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td><a href="/item/{{item.itemId}}">
                    {{item.itemId}}
                </a></td>
                <td>{{item.name}}</td>
                <td>{{item.category}}</td>
                <td>{{item.stock}}</td>
                {% if action == "Order" %}
                <div class="form-group">
                    <td width="100"><input type="number" max="{{item.stock}}"  name="itemsToOrder{{item.itemId}}"
                                           id="itemsToOrder{{item.itemId}}"
                                           value="{{itemsOrdered.amount}}" class="form-control"/>
                    </td>
                </div>
                <div class="form-group">
                    <td><input class="form-control" value="{{item.itemId}}" name="itemId{{item.itemId}}"
                               id="{{item.itemId}}" type="hidden">
                    </td>
                </div>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if action == "Order" %}
    <td width="50">
        <button type="submit" class="btn btn-success">Update Order</button>
    </td>
    <a href="/orders/{{order.orderId}}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i>
        Done
    </a>
    {% endif %}
</form>

{% if next_page_token %}
<nav>
    <ul class="pager">
        <li><a href="?page_token={{next_page_token}}">More</a></li>
    </ul>
</nav>
{% endif %}

{% endblock %}
