{% extends "base.html" %}

{% block content %}

<h3>Order {{order.orderId}}</h3>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Order ID: {{order.orderId}}</p>
            <p>Order Date: {{order.dateOrdered}}</p>
            <p>Order Weight: {{order.weight}} lbs.</p>
            <p>Order Volume: {{order.volume}} in.<sup>3</sup></p>
            <p>Order Status: {{order.orderStatus}}</p>
            <h6>Origin Address:</h6>
            <ul class="list-unstyled">
                <li>{{order.originStreetNumber}} {{order.originStreetName}}</li>
                {% if order.originAptNumber == None %}
                <li>{{order.originAptNumber}}</li>
                {% endif %}
                <li>{{order.originCity}}, {{order.originState}}, {{order.originZip}}</li>
            </ul>
            <h6>Destination Address:</h6>
            <ul class="list-unstyled">
                <li>{{order.destStreetNumber}} {{order.destStreetName}}</li>
                {% if order.destAptNumber == None %}
                <li>{{order.destAptNumber}}</li>
                {% endif %}
                <li margin="0">{{order.destCity}}, {{order.destState}}, {{order.destZip}}</li>
            </ul>
        </div>

        <div class="col">
            <h3>Items:</h3>
            {% if order.orderStatus == "Processing" %}
            <a href="/orders/{{order.orderId}}/addItems" class="btn btn-success btn-sm">
                <i class="glyphicon glyphicon-edit"></i>
                Edit Items
            </a>
            {% endif %}
            {% if not item == None %}
            <table class="table-striped" width="400">
                <thead>
                <tr>
                    <th>Item Id</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for item in item %}
                <tr>
                    <td><a href="/item/{{item.itemId}}">
                        {{item.itemId}}
                    </a></td>
                    <td>{{item.amount}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>

<div class="btn-group">
    <a href="/orders/{{order.orderId}}/edit" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-edit"></i>
        Edit order
    </a>
    <a href="/orders/{{order.orderId}}/delete" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-trash"></i>
        Delete order
    </a>
    {% if order.orderStatus == 'Processing' %}
    <a href="/orders/{{order.orderId}}/ship" class="btn btn-success btn-sm">
        <i class="glyphicon glyphicon-edit"></i>
        Ship Order
    </a>
    {% endif %}
</div>

{% endblock %}
