{% extends "base.html" %}

{% block content %}

<h3>Orders</h3>
<a href="/orders/add" class="btn btn-success btn-sm">
  <i class="glyphicon glyphicon-plus"></i>
  Add Order
</a>

<div class="media">
    <table class="table-striped" width="400">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date Ordered</th>
            <th>Order Status</th>
        </tr>
        </thead>
        <tbody>
        {% for order in order %}
        <tr>
            <td><a href="/orders/{{order.orderId}}">
                {{order.orderId}}
            </a></td>
            <td>{{order.dateOrdered}}</td>
            <td>{{order.orderStatus}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
{% endif %}

{% endblock %}
