{% extends "base.html" %}

{% block content %}

<h3>Trucks</h3>
<a href="/trucks/add" class="btn btn-success btn-sm">
    <i class="glyphicon glyphicon-plus"></i>
    Add Truck
</a>

<div class="media">
    <table class="table-striped" width="800">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Carrier</th>
            <th>In Use</th>
            <th>Max Weight</th>
            <th>Max Volume</th>
            <th>Cost Per Mile</th>
        </tr>
        </thead>
        <tbody>
        {% for truck in truck %}
        <tr>
            <td><a href="/trucks/{{truck.truckId}}">
                {{truck.truckId}}
            </a></td>
            <td>{{truck.type}}</td>
            <td>{{truck.carrier}}</td>
            {% if truck.inUse == 0 %}
                <td>No</td>
            {% else %}
                <td>Yes</td>
            {% endif %}
            <td>{{truck.weightCapacity}} lbs.</td>
            <td>{{truck.maxVolume}} in.<sup>3</sup></td>
            <td>${{truck.costPerMile}}</td>
            {% if action == "ship" %}
            <td><a href="/trucks/deliver/{{truck.truckId}}/{{order.orderId}}" class="btn btn-success btn-sm">
                <i class="glyphicon glyphicon-edit"></i>
                Choose Truck
            </a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if next_page_token %}
<nav>
    <ul class="pager">
        <li><a href="?page_token={{next_page_token}}">More</a></li>
    </ul>
</nav>
{% endif %}

{% endblock %}
